@CHARSET "ISO-8859-1";

#emailcontainer {
	width: 950px;
}

#email {
	float: right;
}

#contacttable {
	clear: both;
	width: 950px;
	padding-top: 10px;
}

#contact table{
	width: 850px;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
}

#contact table th{
	border: 1px solid black;
	font-weight: bold;
	font-size: 16px;
	padding: 1px;
}

#contact table td{
	border: 1px solid black;
	padding: 2px;
}