@CHARSET "ISO-8859-1";

#contents img {
	max-height: 150px;
	max-width: 150px;
}

#contents a {
	display: block;
	text-align: center;
	font-size: 16px;
}

#contents table td {
	padding-left: 10px;
	padding-right: 10px;
}

#contents table td.nopics {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	width: 950px;
}
