@CHARSET "ISO-8859-1";
#submit input {
	float: right;
}

#submit a {
	float: right;
}

#data {
	clear: both;
}

#leftPanel {
	float: left;
	width: 450px;
	margin: 0 0 0 -5px;
}

#rightPanel{
	float: right;
}

.standard-form label {
	font-size: 19px;
}

#positions {
	width: 475px;
}

.standard-form select {
	font-size: 16px;
}
